textarea, input.form-text {
    -moz-border-radius:0.25em;
    -webkit-border-radius:0.25em;
    background:#F5F5EC none repeat scroll 0 0;
    border:1px solid #E3E2C9;
    color:#636257;
    font-family:Liberation Sans,FreeSans,Helvetica Neue LT Std,Helvetica LT Std,Helvetica,Arial,Tahoma,Lucida Grande,Lucida Sans,sans-serif;
    font-size:13px;
    margin-bottom:1em;
    padding:3px;
    width:99%;
}

textarea {
    height:100px;
}

#default-submit{
    -moz-border-radius:0.25em;
    -webkit-border-radius:0.25em;  
    background:#979584;
    border:2px solid;
    border-top-color:#B0AF9C;
    border-left-color:#B0AF9C;
    border-bottom-color:#636257;
    border-right-color:#636257;
    color:#fff;
    padding:0.35em;
    width:99%;
    font-weight:bold;
    font-size:85%;
    text-transform:uppercase;
    letter-spacing:0.1em;
}